body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  margin-top: 125px;
  /* width: 60vh!important;
  height: 60vh!important; */
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
}

.button0 {
  background-color: white;
  color: black;
  border: 2px solid #b46436;
}

.button0:hover {
  background-color: #3e8e41;
  color: white;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.button1:hover {
  background-color: #3e8e41;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

.button2:hover {
  background-color: #0ba2d5;
  color: white;
}

.result {
  font-size: 32pt;
  position: absolute;
  top: -19px; /* Adjust the top position */
  left: 50%; /* Adjust the left position */
  transform: translateX(-50%);
  color: red;
}


@media screen and (max-width: 1000px) {
  canvas {
    width: 40vh!important;
    height: 40vh!important;
  }
  .buttons button {
    padding: 8px 16px;
  }
}